.App{
    height: 100vh;
    width: 100vw;
}

.Sidebar{
    height: 100%;
    width: 180px;
    border-style: outset;
}

.SidebarTitle {
    height: 50px;
    width : 100%;
    list-style-type: none;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SidebarTitle #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.SidebarTitle #title{
    flex: 70%;
}

.SidebarList {
    height: auto;
    width: 100%;
    padding:0;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 25px; 
}

.SidebarList .row:hover #icon{
    background-color: blue;
    border-radius: 50%;
    
  }

.row #icon{
    flex: 30%;
    height: 90%;
    width: 90%;
    display: grid;
    place-items: center;
}

.row #subTitle{
   flex: 100%;
}

.row #title{
    flex: 50%;
}
.row #arrow{
    flex: 20%;
}