.App{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.Sidebar{
    height: 100%;
    width: 180px;
}

.SidebarTitle {
    height: 50px;
    width : 100%;
    list-style-type: none;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SidebarTitle #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.SidebarTitle #title{
    display: flex;
    flex: 70%;
}


.SidebarList {
    height: auto;
    width: 100%;
    padding:0;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #CCCCFF;
  border-radius: 25px; 
  color: #7e66b6;
}

.SidebarList .row:hover #icon{
    background-color: #5A4FCF;
    border-radius: 50%;
    color: white;
  }

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #subTitle{
    margin: 20px;
   flex: 100%;
}

.row #title{
    flex: 60%;
}
.row #arrow{
    flex: 10%;
}

.color--primary {
    color : #ff7d00;
}
.color--secondary {
    color : #572f89;
}
.color--white{
    color : #ffffff;
}
.color--pink{
    color : #ff92c2;
}
.color--gray {
    color : #817f82;
}
.color--black {
    color : black;
}


.d-flex{
    display : flex;
}
.jc-around {
    justify-content: space-around;
}
.jc-between{
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}

.h-line {
    border-top: 1px solid #dedede; /* Change the color to your desired color */
    width: 100%; /* Adjust the width as needed */
}

.page-background {
    background-color: #fafafa;
    min-height: 100vh;
    min-width: 100%;
}

.w-100{
    width: 100%;
}

.subtext{
    color : #817f82;
    font-size: 12px;
}

.imageicon {
    width : 40px;
    height : 40px;
    border-radius: 50%;
    margin : 0px 4px;
}

/* Orders CSS */

.ordersMain{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.ordersTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.ordersTitleFirst {
    flex: 70%;
}

.ordersTitleSecond {
    flex: 30%;
}

.datePicker {
    border-radius: 50%;
}
